@import "../node_modules/modern-normalize/modern-normalize.css";

body {
  background-color: #e5e5e5;
  width: 1920px;
  padding-top: 68px;
  padding-bottom: 68px;
  padding-left: 35px;
  padding-right: 35px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
